* {
  padding: 0px;
  margin: 0px;
}

html {
  background-color: #003264;
}

.body {
  margin: 0 auto;
  background-color: #bababa;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}